{% comment %}
    @param {Boolean} center 
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}

  {% if site.RSS %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.twitter_username %}
  <li>
    <a target="_blank" href="https://x.com/{{ site.twitter_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <svg class="fa-stack-1x fa-inverse" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" style="transform: translateY(3px);">
          <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
        </svg>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.bilibili_username %}
  <li>
    <a target="_blank" href="http://space.bilibili.com/{{ site.bilibili_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-brands fa-bilibili fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.bilibili2_username %}
  <li>
    <a target="_blank" href="http://space.bilibili.com/{{ site.bilibili2_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-brands fa-bilibili fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.soundcloud_username %}
  <li>
    <a target="_blank" href="https://soundcloud.com/{{ site.soundcloud_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-brands fa-soundcloud fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
</ul>
